@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    font-family: 'Varela Round', sans-serif;
}
hr{
    background-color: black;
    border: none;
    height: 1px;
}
#mytodolist{
    text-align: center;
    font-size: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    align-items: center;
    min-height: 100vh;
}
.inputfield{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 350px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(0, 60, 88);
    box-shadow: 0 0 5px 0.5px rgb(0, 60, 88);
}
.inputfield button{
    background-color: rgb(149, 213, 231);
    border: none;
    outline: none;
    padding: 0;
    width: 20%;
    height: 47px;
    font-size: 25px;
    border-radius: 4px;
    font-weight: bold;
}
.inputfield input{
    outline: none;
    border: none;
    height: 37px;
    padding: 5px;
    width: 75%;
    font-size: 25px;
    border-radius: 4px;
}
#todo-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#todo-list div{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 0.5px rgb(0, 60, 88);
}
#todo-list .donebtn{
    background-color: #36d663;
    border: 1px solid #36d663;
    border-radius: 10px;
    outline: none;
    font-size: 12px;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 80px;
    margin-right: 10px;
    box-shadow: 0 0 5px 0.5px rgb(27, 177, 27);
}
#todo-list .deletebtn{
    background-color: #f54f4f;
    border: 1px solid #f54f4f;
    border-radius: 10px;
    outline: none;
    font-size: 12px;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 80px;
    margin-right: 10px;
    box-shadow: 0 0 5px 0.5px rgb(255, 0, 0);
}
.liItem{
    max-width: 350px;
    word-wrap: break-word;
    line-height: 1.5;
}
.completed{
    text-decoration: line-through;
    color: #009129;
}